.page {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page__body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:rgba(255, 244, 232, 0.473);
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
  min-width: 18rem;
}

.bayan {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.bayan__memes {
  color:rgb(15, 15, 207);
}

.bayan__label:active .bayan__text {
  color:rgb(15, 15, 207);
}

.bayan__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bayan__input {
  display: none;
}

.bayan__input:checked ~ .icon {
  transform: rotate(225deg);
}

.bayan__input:checked ~ .bayan__image {
  transform: scale(1);
  max-height: 100rem;
  opacity: 1;
}

.bayan__input:checked ~ .icon {
  filter: invert(14%) sepia(71%) saturate(7497%) hue-rotate(1deg) brightness(93%) contrast(121%);
}

.bayan__label {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: color 600ms;
}

.bayan__label:active .bayan__image {
  filter: brightness(130%) saturate(110%);
}

.bayan__input:checked + span {
  color:black;
}

.icon {
  width: 1rem;
  height: 1rem;
  background-image: url(./images/plus.png);
  background-size: cover;
  transition: transform 300ms ease-out, opacity 300ms;
}

.bayan__text {
  display: block; 
  width: 80%;
}

.bayan__image {
  display: block;
  width: 60%;
  margin: 0 auto;
  transform: scale(0.5);
  max-height: 0;
  opacity: 0;
  max-width: 20rem;
  background-color: darkgrey;
  transition:
    transform 600ms,
    max-height 600ms,
    opacity 600ms,
    filter 300ms;
}

.border-botton {
  border-bottom: 0.15rem solid lightgray;
}

@media (min-width: 820px) {
  .wrapper {
    width: 60vw;
  }

  .bayan__title {
    font-size: 2.5rem;
  }

  .bayan__text {
    font-size: 1.25rem;
  }

  .bayan__image {
    width: 50%;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 50vw;
  }

  .bayan__title {
    font-size: 3rem;
  }
  
  .bayan__label {
    cursor: pointer;
  }

  .bayan__text {
    font-size: 1.5rem;
  }

  .bayan__image {
    width: 100%;
  }

  .icon {
    height: 2rem;
    width: 2rem;
    background-image: url(./images/plus.png);
    background-size: cover;
    transition: transform 300ms ease-out, opacity 300ms;
    opacity: 0;
  }
}

@media (hover: none) {
  .icon {
    opacity: 1;
  }
}

@media (hover:hover) {
  .bayan__memes:hover .bayan__meme {
    color: black;
  }

  .bayan__memes:hover .icon {
    opacity: 1;
  }

  .bayan__meme:hover .bayan__image {
    transform: scale(1);
    opacity: 1;
  }

  .bayan__memes:hover .bayan__meme {
    color: black;
  }

  .bayan__memes:hover .icon {
    visibility: visible;
  }


  .bayan__meme:hover .bayan__image {
    transform: scale(1);
    max-height: 200rem;
    opacity: 1;
  }
}